<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Write logs to stdout -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Show all logs down to debug level for DarwinGateway -->
    <logger name="uk.fstr.darwingateway" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- For everything else, show only INFO and upwards -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
